.video-bg,
.video-page>h2 {
    transform: translate(-50%, -50%)
}

.carousel-info p,
.explore-button,
.mess-page q,
.places-carousel-page h2 {
    color: var(--font-color-light)
}

:root {
    --background-color: #000000;
    --primary-color: #F7FF8D;
    --accent-color: #c673d9;
    --font-color-dark: #000000;
    --font-color-light: #ffffff;
    --ff-heading: Baron;
    --ff-base: 'Forum Regular', cursive;
    --ff-fallback: 'Work Sans', sans-serif
}

@font-face {
    font-family: Forum Regular;
    src: url(static/fonts/Forum-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: WorkSans-Light;
    src: url(static/fonts/WorkSans-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(static/fonts/WorkSans-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Baron;
    src: url(static/fonts/Baron.otf);
    font-display: swap;
}

@font-face {
    font-family: Made of Scar;
    src: url(static/fonts/MadeofScars-Regular.ttf);
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color)
}

a {
    text-decoration: none
}

img,
svg {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

section {
    height: 100vh
}

.landing-page {
    border: 1em solid var(--background-color);
    padding: 1em;
    object-fit: contain;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center
}

.left {
    margin-left: 1em;
    margin-top: 10vh;
    order: 2
}

.right {
    order: 1;
    padding-top: 5vh
}

.explore-button,
.view-campus-button {
    font-size: .9rem;
    padding: 1em 2em;
    border: none;
    outline: 0;
    transition: border 250ms, font-size 250ms, background-color 250ms, box-shadow .5s
}

.left>h1 {
    font-size: 2.8rem;
    text-align: left;
    margin: 0 auto;
    font-family: var(--ff-heading)
}

.explore-button,
.left>p,
.view-campus-button {
    font-family: var(--ff-fallback)
}

.left>p {
    font-size: 1.1rem;
    max-width: 90%;
    opacity: .7
}

.places-carousel-page h2,
.video-page>h2 {
    font-family: var(--ff-heading);
    text-align: center;
    margin: 0
}

.left>.buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 5%;
    justify-content: flex-start
}

.view-campus-button {
    background-color: var(--accent-color)
}

.view-campus-button:focus,
.view-campus-button:hover {
    background-color: var(--primary-color);
    font-size: 1em;
    color: var(--accent-color);
    outline: .1rem solid var(--accent-color);
    box-shadow: .3em .3em var(--accent-color);
    cursor: pointer
}

.explore-button {
    background-color: var(--background-color)
}

.explore-button:focus,
.explore-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1em;
    outline: .1rem solid var(--background-color);
    box-shadow: .3em .3em var(--background-color);
    cursor: pointer
}

.right>img {
    max-width: 95%;
    object-fit: contain
}

@media only screen and (min-width:767px) {
    .landing-page {
        border: 2em solid var(--background-color);
        background: var(--primary-color);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 1em
    }

    .left h1 {
        font-size: 4em
    }

    .left {
        order: 1;
        margin-left: 10vh
    }

    .left>p {
        font-size: 1.3rem
    }

    .right {
        padding-top: 0;
        order: 2
    }

    .video-page h2 {
        font-size: 7rem
    }
}

.video-page {
    background: #0000008a;
    position: relative;
    overflow: hidden;
    height: 70vh
}

.video-bg {
    inset: 50% 50%;
    z-index: -999;
    min-width: 100%;
    min-height: 100%;
    position: absolute
}

.video-page>h2 {
    background: #c673d9;
    background: -webkit-linear-gradient(to right, #c673d9 3%, #f7ff8d 100%);
    background: -moz-linear-gradient(to right, #c673d9 3%, #f7ff8d 100%);
    background: linear-gradient(to right, #c673d9 3%, #f7ff8d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%
}

@media only screen and (min-width:767px) and (max-width:1023px) {
    .landing-page {
        grid-template-columns: repeat(1, 1fr)
    }

    .right img {
        max-width: 80%
    }

    .left {
        order: 2
    }

    .right {
        order: 1
    }

    .video-page h2 {
        font-size: 5.5rem
    }
}

.places-carousel-page h2 {
    background: var(--background-color);
    padding: 1em;
    font-size: 2em
}

.carousel,
.carousel-info {
    background-color: var(--background-color)
}

.carousel-cell {
    background: var(--background-color);
    width: 66%;
    height: 400px;
    margin-right: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center center
}

.carousel-cell::before {
    display: block;
    content: ''
}

.carousel-info p {
    font-family: var(--ff-fallback);
    margin: 0;
    text-align: left;
    max-width: 90%;
    padding: 1rem;
    font-size: 1.1rem
}

.mess-page {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center
}

.mess-page q {
    text-transform: uppercase;
    font-family: var(--ff-base);
    text-align: center;
    font-size: 4rem
}

#loom-companion-mv3 {
    display: none
}

@media only screen and (min-width:767px) {
    .carousel-cell {
        height: 500px
    }

    .places-carousel-page p {
        padding: 3em;
        text-align: left;
        max-width: 90%;
        font-size: 1.3rem
    }

    .mess-page q {
        font-size: 10em
    }
}