:root {
    --background-color: #000000;
    --primary-color: #F7FF8D;
    --accent-color: #c673d9;
    --font-color-dark: #000000;
    --font-color-light: #ffffff;

    --ff-heading: Baron;
    --ff-base: 'Forum Regular', cursive;
    --ff-fallback: 'Work Sans', sans-serif;

}

@font-face {
    font-family: Forum Regular;
    src: url(static/fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: WorkSans-Light;
    src: url(static/fonts/WorkSans-Light.ttf);
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(static/fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: Baron;
    src: url(static/fonts/Baron.otf);
}

@font-face {
    font-family: Made of Scar;
    src: url(static/fonts/MadeofScars-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

section {
    height: 100vh;
}

/* ! SECTION-1: LANDING PAGE */
/* ! MOBILE */
.landing-page {
    border: 1em solid var(--background-color);
    padding: 1em;
    object-fit: contain;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.left {
    margin-left: 1em;
    margin-top: 10vh;
    order: 2;
}

.right {
    order: 1;
    padding-top: 5vh;
}

.left>h1 {
    font-size: 2.8rem;
    text-align: left;
    margin: 0 auto;
    font-family: var(--ff-heading);
}

.left>p {
    font-family: var(--ff-fallback);
    font-size: 1.1rem;
    max-width: 90%;
    opacity: 0.7;
}

.left>.buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.view-campus-button {
    background-color: var(--accent-color);
    font-family: var(--ff-fallback);
    font-size: 0.9rem;
    padding: 1em 2em;
    border: none;
    outline: none;
    transition:
        border 250ms ease,
        font-size 250ms ease,
        background-color 250ms ease,
        box-shadow 500ms ease;
}

.view-campus-button:hover,
.view-campus-button:focus {
    background-color: var(--primary-color);
    font-size: 1em;
    color: var(--accent-color);
    outline: 0.1rem solid var(--accent-color);
    box-shadow: 0.3em 0.3em var(--accent-color);
    cursor: pointer;
}


.explore-button {
    background-color: var(--background-color);
    font-family: var(--ff-fallback);
    font-size: 0.9rem;
    color: var(--font-color-light);
    padding: 1em 2em;
    border: none;
    outline: none;
    transition:
        border 250ms ease,
        font-size 250ms ease,
        background-color 250ms ease,
        box-shadow 500ms ease;
}

.explore-button:hover,
.explore-button:focus {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1em;
    outline: 0.1rem solid var(--background-color);
    box-shadow: 0.3em 0.3em var(--background-color);
    cursor: pointer;
}

.right>img {
    max-width: 95%;
    object-fit: contain;
}

/* ! LAPTOP */
@media only screen and (min-width: 767px) {
    .landing-page {
        border: 2em solid var(--background-color);
        background: var(--primary-color);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 1em;
    }

    .left {
        order: 1;
        margin-left: 10vh;
    }

    .left>p {
        font-size: 1.3rem;
    }

    .right {
        padding-top: 0;
        order: 2;
    }

}

/* ! TABLET */
@media only screen and (min-width:767px) and (max-width:1023px) {
    .landing-page {
        grid-template-columns: repeat(1, 1fr);
    }

    .right img {
        max-width: 80%;
    }

    .left {
        order: 2;
    }

    .right {
        order: 1;
    }
}


/* ! SECTION-2: VIDEO-PAGE */
/* ! MOBILE */
.video-page {
    background: #0000008a;
    position: relative;
    overflow: hidden;
    height: 70vh;
}

.video-bg {
    inset: 50% 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.video-page>h2 {
    background: #C673D9;
    background: -webkit-linear-gradient(to right, #C673D9 3%, #F7FF8D 100%);
    background: -moz-linear-gradient(to right, #C673D9 3%, #F7FF8D 100%);
    background: linear-gradient(to right, #C673D9 3%, #F7FF8D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: 3rem;
    font-family: var(--ff-heading);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.scribble-dots {
    position: absolute;
    top: 60%;
    right: 0;
}

.scribble-lines {
    position: absolute;
    top: 10em;
    left: 0;
}

/* ! LAPTOP: WORKS FINE */
@media only screen and (min-width:767px) {
    .video-page h2 {
        font-size: 7rem;
    }
}

/* ! TABLET */
@media only screen and (min-width:767px) and (max-width:1023px) {
    .video-page h2 {
        font-size: 5.5rem;
    }
}

/* ! SECTION-3: PLACES CAROUSEL PAGE */
/* ! MOBILE */
.places-carousel-page h2 {
    background: var(--background-color);
    font-family: var(--ff-heading);
    color: var(--font-color-light);
    text-align: center;
    margin: 0;
    padding: 2em 1em;
    font-size: 2em;

}

.carousel {
    background-color: var(--background-color);
}

.carousel-cell {
    background: var(--background-color);
    width: 66%;
    height: 400px;
    margin-right: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
}

.carousel-cell::before {
    display: block;
    content: ''
}


.carousel-info p {
    color: var(--font-color-light);
    font-family: var(--ff-fallback);
    margin: 0;
    text-align: left;
    max-width: 90%;
    padding: 1rem;
    font-size: 1.1rem;
}

.carousel-info {
    background-color: var(--background-color);
}

/* ! LAPTOP */
@media only screen and (min-width: 767px) {
    .carousel-cell {
        height: 500px;
    }


    .places-carousel-page p {
        padding: 3em;
        text-align: left;
        max-width: 90%;
        font-size: 1.3rem;
    }
}

/* ! TABLET: WORKS FINE */

/* ! SECTION-4: MESS PAGE */
.mess-page {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mess-page q {
    text-transform: uppercase;
    color: var(--font-color-light);
    font-family: var(--ff-base);
    text-align: center;
    font-size: 4rem;
}

#loom-companion-mv3 {
    display: none;
}

@media only screen and (min-width:767px) {
    .mess-page q {
        font-size: 10em;
    }
}